{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2><br>


    {% for listing in active_listings%}
        <div class="prev">
            <h4><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
            <a href="{% url 'listing' listing.id %}">
            <img src=" {{ listing.image }}" alt="(The maker chose to not include an image)" width="200"><br><br>
            </a>
            <h6>
                {{ listing.description}} <br>
            </h6>
            <h5>
                Starting Price: €{{ listing.startbid}} <br>
            </h5>
            <h6>
                Seller: {{ listing.maker }} <br>
            </h6>
        </div>
        <br>
    {% endfor %}
{% endblock %}
