{% extends "auctions/layout.html" %}

{% block body %}
<h2>Auction: </h2>
<div>
    <h4>{{ listing.title }}</h4>
    <img src=" {{ listing.image }}" alt="(The maker chose to not include an image)" width="350"><br><br>
    <h6>
    {{ listing.description}} <br>
    </h6>
    <h5>
    Current Highest Bid: €{{ highest_bid }} <br>
    </h5>
    <h6> Owner: {{ listing.maker }} <br><br>

        {% if watchlistbutton %}
            <form action="{% url 'remove_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Remove item from wishlist</button>
            </form>
        {% elif not watchlistbutton %}
            <form action="{% url 'add_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Add item to wishlist</button>
            </form>
        {% endif %}
        <br>

        <form action="{% url 'placebid' listing.id %}" method="post">
            {% csrf_token %}
            <label for="bid">Place your bid:</label><br>
            <input class="bidbar" type="text" id="bid" name="bid">
        </form>
        <br>
        {% if updated == True %}
            <div class = "succesbid">
                Your bid has been placed!
            </div>
        {% elif updated == False %}
            <div class="errorbid">
                Your bid was too low. <br>
                Make sure your bid is higher than the current highest bid.
            </div>
        {% endif %}

    </h6>
</div>

{% endblock %}
