{% extends "auctions/layout.html" %}

{% block body %}
<h2>Auction: </h2>
<div>
    <h4>{{ listing.title }}</h4>
    <img src=" {{ listing.image }}" alt="(The maker chose to not include an image)" width="350"><br><br>
    <h6>
    {{ listing.description}} <br>
    </h6>
    <h5>
    Current Price: €{{ listing.startbid}} <br>
    </h5>
    <h6> Owner: {{ listing.maker }} <br><br>

        {% if watchlistbutton %}
            <form action="{% url 'remove_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Remove item from wishlist</button>
            </form>
        {% elif not watchlistbutton %}
            <form action="{% url 'add_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Add item to wishlist</button>
            </form>
        {% endif %}

        <!-- <a href="{% url 'add_watchlist' listing.id %}">Add item to wishlist:</a> <br> -->
        <!-- <a href="{% url 'remove_watchlist' listing.id %}">Remove item from wishlist:</a> <br> -->
    </h6>
</div>

{% endblock %}
